[mysqld]
# #################
# character set
# #################

character-set-server=utf8mb4

collation_server=utf8mb4_general_ci

# #################
# general log
# #################

general-log=1

general-log-file=/var/log/mysql/mysqld.log

# #################
# innodb
# #################
# 検索する際の区切り単位（2文字区切りで検索）
innodb_ft_min_token_size=2

# 日本語検索の区切り単位（2文字区切りで検索）
ngram_token_size=2

# 除外ワード設定の有無（なし）
innodb_ft_enable_stopword=OFF 

# InnoDBデータファイルのパス
innodb_data_file_path = ibdata1:1G:autoextend

# データやインデックスを共有ではなくテーブル個別に保存する. (0:なし, 1:クエリで明示しなければあり)
innodb_file_per_table=1

# コミットされていないトランザクションのためのバッファのサイズ。大量の巨大なblobを書き込むのでなければ、4MBから8MB
innodb_log_buffer_size=4M

# 以降、使用メモリによって、調整した方がいい項目
# InnoDBのデータとインデックスをキャッシュするバッファのサイズ(推奨は物理メモリの8割)
# innodb_buffer_pool_size=300M

# #################
# thread buffer
# #################

# インデックス未使用でのJOIN時に使用するバッファ
# join_buffer_size=256K

# フルスキャンのレコードバッファ。。OLTPでは128K〜512K
# read_buffer_size=256K

# ソート時に使用されるバッファ。OLTPでは256K〜1Mあたり
# sort_buffer_size=256K

# キーを使用したソートで読み込まれた行がキャッシュされるバッファ。OLTPでは256K〜1M
# read_rnd_buffer_size=256K

[client]
default-character-set=utf8mb4